
# ICT IGNORE  ( 2022.10.1 이성열)
*.~*
*.bak
XLog*.XDF
*.tds
CVS 
*.obj 
ErroList 
*.exe
*.FDB
*.dsk
FDB
*.ddp
Debug* 
Release* 
__history 
*.map
*.local 
*.ils
*.ilf
*.ilc
*.ild
*.@@@
*.twfd
*.twopts
*.pdb 
*.bmp 
*.db 
*.sdf 
*.ncb 
*.aps 
*.suo 
*.dll 
*.config 
.metadata 
.vs 
bin 
obj 
*.vpp
*.brow_pch
XDB
*.xml
.git
